<div *ngIf="film">
    <h1>{{film.title}}</h1>
    <div id="center">
        <div id="opinions_and_likes">
            <div id="likes">
                <img (click)="like()" class="icons" [src]="likedIcon" alt="Likes">
                <div>{{film.likes}}</div>
            </div>
            <div id="dislikes">
                <img (click)="dislike()" class="icons" [src]="dislikedIcon" alt="Dislikes">
                <div>{{film.dislikes}}</div>
            </div>
            <div id="opinionIcon">
                <img (click)="addOpinion()" class="icons" src="./assets/note.png" alt="Avis">
                <div>{{film.opinionsId.length}}</div>
            </div>
        </div>
        <img id="poster" [src]="service.Url+film.imageUrl" [alt]="film.title">
        <div id="opinionArea">
            <app-opinion *ngIf="selectedOpinion"
            [opinion]="selectedOpinion"
            (opinionIndexChange)="opinionSelection($event)"
            [isLogged]="isLogged"></app-opinion>
        </div>
    </div>
    <h2 id="director" (click)="getFilms()">{{film.director}}</h2>
    <h2 id="date">Sorti le {{film.date}}</h2>
    
    <div id="description">
        <h3>{{film.description}}</h3>
    </div>
</div>

